<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crezyprogrammer.studyliveapp">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ReplayActivity"></activity>
        <activity android:name=".HowActivity" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FireBaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".util.notifications.FirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".LaunchActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity" />
        <activity android:name=".NoticeActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity android:name=".fragment.SpellingContestFragment" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".fragment.QuizContestFragment" />
        <activity android:name=".fragment.ListenFragment" />
        <activity android:name=".fragment.QuizPracticeFragment" />
        <activity android:name=".fragment.PostDetailFragment" />
        <activity android:name=".fragment.LeaderFragment" />
        <activity android:name=".fragment.GrammerFragment" />
        <activity android:name=".fragment.SpeakingFragment" />
        <activity android:name=".fragment.QuickQuizFragment" />
        <activity android:name=".fragment.UserActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".fragment.WrittingFragment" />
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>